:root {
    --color-principal: aliceblue;
    --tamaño-letra: 62.5%;
    --color-secundario: rgb(81, 255, 0, 50%);
}

html {
    font-size: var(--tamaño-letra);
}

body {
    text-align: center;
    font-size:2rem;
}

h1 {
    font-size: 3rem;
}
/* datos */
.datos{
    margin: 2% auto;
    width: 50%;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}
.datos a{
    border: solid black;
    background-color: aliceblue;
    padding: 1.5rem;
    text-decoration: none;
    border-radius: 1rem;
    font-size: 3rem;
    font-weight: bold;
}

/*  */
.container-table{
    background-color: var(--color-principal);
    display: grid;
    grid: auto / repeat(4, 1fr);
    width: 60%;
    margin: auto;
    border-radius: 1.5rem;
    font-size: 2.5rem;
    
}
.container-table div{
    padding: 2rem;
}
.table__title{
    text-shadow: 1px 2px 3px red;
    border-bottom: solid;
    grid-column: 1 /5;
}
.table__header{
    text-shadow: 1px 2px 3px blue;
    background-color: var(--color-secundario);
    border: solid;
}
